@page "/"

@inject SingletonService  singletonService  
@inject TransientService transientService
@inject ScopedService scopedService

@implements IDisposable

<div>
  <h1>Singleton</h1>
  Guid: @singletonService.Guid
  <h1>Transient</h1>
  Guid: @transientService.Guid
  <h1>Scoped</h1>
  Guid: @scopedService.Guid
  <OwningComponent/>
  <OwningComponent2/>
</div>

@code {
  public void Dispose()
    => transientService.Dispose();
}
