@page "/"

@*<h1>Hello, world!</h1>

Welcome to your new app.
*@
@*<SurveyPrompt Title="How is Blazor working for you?" />
  <img src="_content/Components.Library/cloud.png" alt="Cloud"/>
  <PagedVirtualMeasurements/>
*@

@*<NonVirtualMeasurements />*@
@*<VirtualMeasurements/>
*@  @*<PagedVirtualMeasurements/>*@

<br />

<div>
  <AnimalSelector />
</div>

@code {

}