@using Microsoft.Extensions.DependencyInjection
@inherits OwningComponentBase

<h1>OwningComponent</h1>
Guid: @scopedService.Guid

@code {
  private ScopedService scopedService = default!;

  protected override void OnInitialized()
  => scopedService = ScopedServices.GetRequiredService<ScopedService>();
}