@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime

<div id="@elementId" style="height: 100%; width: 100%;"></div>

@code {
  string elementId = $"map-{Guid.NewGuid().ToString("D")}";

  [Parameter] 
  public double Zoom { get; set; } = 17.0;

  [Parameter] public List<Marker> Markers { get; set; } = new List<Marker>();

  private IJSObjectReference leaflet = default!;

  protected override async Task OnInitializedAsync()
  {
    leaflet = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./_content/Leaflet.Map/map.js");
  }

  protected async override void OnAfterRender(bool firstRender)
  {
    if (leaflet is not null)
    {
      await leaflet.InvokeVoidAsync("showOrUpdate", elementId, Zoom, Markers);
    }
  }
}