@page "/counter"

<h1>Counter</h1>

Current culture : @CultureInfo.CurrentCulture.Name

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    private string Today => $"{DateTime.Now:D}";
}
