@typeparam TItem

@if (items is null)
{
    @LoadingContent
}
else if (items.Count() == 0)
{
    @EmptyContent
}
else
{
    <div class="list-group @ListGroupClass">
        @foreach (var item in items)
        {
            <div class="list-group-item">
                @ItemContent(item)
            </div>
        }
    </div>
}
