<h3>GrandChild</h3>

<button @onclick="Increment" class="btn btn-success">Inc</button>

@code {
  [CascadingParameter()]
  public CounterData gmData { get; set; } = default!;

  private void Increment()
  {
    gmData.Count += 1;
  }
}