@inherits LayoutComponentBase
@inject IStringLocalizer<MainLayout> Localizer

<div class="page">
  <div class="sidebar">
    <NavMenu />
  </div>

  <main>
    <div class="top-row px-4">
      <span class="pr-2 ml-md-auto">@Localizer.GetString("SiteLanguage")</span>
      <LanguagePicker />
      <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <article class="content px-4">
      @Body
    </article>
  </main>
</div>
