@inherits Bunit.TestContext

@code {
  [Fact]
  public void IncrementCounterWhenButtonIsClicked()
  {
    var cut = Render(@<TwoWayCounter CurrentCount="1" Increment="2"/>);
    cut.Find("button").Click();
    cut.Find("p")
       .MarkupMatches(@<p>Current count: 3</p>
  );
  }

  [Fact]
  public void TriggerChangedEventForCurrentCounter2()
  {
    int currentCount = 1;
    var cut = Render(@<TwoWayCounter 
                        @bind-CurrentCount="currentCount" 
                        Increment="2"/>
    );
    cut.Find(cssSelector: "button")
       .Click();
    currentCount.Should().Be(3);
  }
}