@typeparam TItem

@if(ListTemplate is null )
{
  
<ul>
  @foreach (var item in Items)
  {
    <li>
      @ItemTemplate(item)
    </li>
  }
</ul>
} else
{

  @ListTemplate(
    @:@{
      foreach(var item in Items)
      {
        @ItemTemplate(item)
      }
    }
  )
}
